*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: #57BA54;
    margin: 0;
    padding: 0;
    background-image: url('./imagenes/GettyImages-925160278-1046x616.jpg');
    background-size: cover;


}

/* ESTILOS PARA EL LOGIN  */

.datos {
    border: 5px solid black;
    border-radius: 5%;
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #57BA54;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    box-shadow: 2px 2px 4px #555;
   
}

#titulo{
    text-align: center;
}

#txtusuario, #txtcontraseña{
    border: 3px black solid;
    width: 350px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;



}
#btnAcceder{
    margin-left: 18%;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

#btnRegistrarse{
    margin-left: 5%;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#olvidoContraseña{
    
    margin-left: 18%;
    text-decoration: none;
}



.fondo {

    
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url('../Styles/imagenes/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    width: 100%; 
    height: 100%; 
} 


#txtUsuario, #txtContraseña, #txtRol{
    border: 3px black solid;
    width: 350px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
}

#btnAccederR{
    margin-left: 5%;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#btnRegistrarR{
 margin-left: 18%;
    width: 100px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}



/* BOTON DE CERRAR SESION */

#cierraSesion{

    width: auto; 
    height: auto; 
    position: absolute; 
    top: 30%; 
    right: 35px; 
    border: 3px black solid;

}
#btnCierraSesion{
    width: 120px;
    height: 50px;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

/* BOTONES LOGIN */

.btnAccesoLogin{
    position: absolute;
    top: 30%;
    left: 75%;

}

.btnAcceder {
    width: 200px; 
    height: 50px; 
    font-size: 20px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid black; 
    border-radius: 5%;
}

.divFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.5); /* Gris con 50% de transparencia */
    padding: 10px;
}


/* EXAMENES CREADOS */

#examen{
    position: absolute;
    border: 4px black solid;
    width: 60%;
    height: auto;
    left: 21%;
    background-color: #57BA54;
    margin-top: 0.2%;
    padding: 1%;
    

}

#credenciales{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#navegador{

    position: absolute;
    top: 10%;
    right: -15%;
    width: 25%;

}
#btnBuscar{
    width: 60px;
    height: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#barraBuscar{
    width: 170px;
    height: 26px;

}

#header{

    background-color: #57BA54;
    border: 1px black solid;
}

#header img{

    width: 10%;
    height: auto;

}


#navbarSupportedContent{
    position: absolute;
    
    margin-left: 15%;
    top:10%;
    width: 70%;
    height: 5%;
    
}

 /* Estilos para la lista horizontal */
 #header .navbar-nav {
    display: flex;
    flex-direction: row;
}

#header .navbar-nav .nav-item {
    margin-right: 5%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    list-style-type: none;
   
}
#header .navbar-nav .nav-item a:link{


    text-decoration: none; /* Elimina el subrayado */
    color: #000; /* Establece el color de texto para los enlaces no visitados */

}

#header .navbar-nav .nav-item a:visited {
    text-decoration: none;
    color: #000; /* Establece el color de texto para los enlaces visitados */
}

#header .navbar-nav .nav-item a:hover {
    text-decoration: underline; /* Para subrayar el enlace al pasar el ratón por encima */
    color: rgb(14, 13, 95); /* Establece el color de texto para los enlaces al pasar el ratón por encima */
}
   
th, td, tr {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    

}


/* ADMINISTADOR */
.divTituloAdmin{
    border: 3px black solid;
    background-image: url(./imagenes/fondo-autoescuela-campus.jpg);
    position: absolute;
    margin-left:30%;
    top: 50%;
    width: auto;
    height: auto;
    padding: 5%;

}
.divTituloProf{
    border: 3px black solid;
    background-image: url(./imagenes/fondo-autoescuela-campus.jpg);
    position: absolute;
    margin-left:32%;
    top: 50%;
    width: auto;
    height: auto;
    padding: 5%;
}
.divTituloAlum{
    border: 3px black solid;
    background-image: url(./imagenes/fondo-autoescuela-campus.jpg);
    position: absolute;
    margin-left:32%;
    top: 50%;
    width: auto;
    height: auto;
    padding: 5%;
}
#tituloAdministrador, #tituloProf, #tituloAlum{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#divTablaValidar{

    background-color: #57BA54;
    border: 5px black solid ;
    position:absolute;
    margin-top: 5%;
    margin-left: 35%;
    padding: 8px;
    max-height: 60%; 
}
#divTablaActualizar{
    background-color: #57BA54;
    border: 5px black solid ;
    position:absolute;
    margin-top: 5%;
    margin-left: 22%;
    padding: 8px;
    overflow-y: auto;
    width: 60%; 
    max-height: 60%; 
}
#divTablaBorrar{
    background-color: #57BA54;
    border: 5px black solid ;
    position:absolute;
    margin-top: 5%;
    margin-left: 32%;
    padding: 8px;
    overflow-y: auto;
    width: 38%; 
    max-height: 60%; 

}

.divTablaMostrar{
    background-color: #57BA54;
    border: 5px black solid ;
    position:absolute;
    margin-top: 5%;
    margin-left: 35%;
    overflow-y: auto;
    padding: 8px;
    width: 31%; 
    max-height: 60%; 

}
#btnEditar{
    width: 80px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#btnBorrar{
    width: 80px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#btnValidar{
    width: 80px;
    height: 25px;
    box-shadow: 2px 2px 4px #555;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


#divTablaMostrar{

    background-color: #57BA54;
    border: 5px black solid ;
    position:absolute;
    margin-top: 3%;
    margin-left: 22%;
    padding: 8px;
    
}

.tablaMostrar td, th{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
}

#inputActualizar {
    width: 150px;
    height: 25px;
    text-align: center;
}

/* PREGUNTAS DEL EXAMEN */

.pregunta{
    padding: 1%;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #888888;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.foto{
    margin-left: 36%;
}
.foto img{
    width: 190px;
    height: 190px;


}
#botonBorrarPreg{
    width: 80px;
    height: 25px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-left: 60%;
 
}
.dudosa-borrar{
    display: flex;
    margin-left: 5%;
}
#botones{
    margin-left: 14%;
}

#botones input {
    border: 1px black solid;
    width: auto;
    height: auto;
    padding: 1%;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

    margin-right: 15%;
}

.oculta{

    display: none;

}